.whoamiwrapper {
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
}

.whoamiwrapper h1 {
    margin-bottom: 50px;
}

.whoamiwrapper p {
    font-size: 5vw;
    width: 80%;
    margin: auto;
}

.whoamiwrapper img {
    width: 65%;
    border-radius: 10px;
    margin-bottom: 40px;
}

.myworkwrapper {
    background-color: #131313;
    border-radius: 20px;
    width: 75%;
    margin: auto;
    margin-bottom: 300px;
}

.myworkwrapper h1 {
    margin-bottom: 30px;
    padding-top: 40px;
}

.myworkwrapper p {
    font-size: 5vw;
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
    line-height: 35px;
    word-spacing: -1vw;
}

.contactwrapper {
    width: 80%;
    display: flex;
    margin: auto;
}

.contactwrapper>button {
    margin: auto;
    font-size: 50px;
    width: fit-content;
    height: auto;
    opacity: 100%;
    transition: opacity .2s;
}

.contactwrapper>button:hover {
    opacity: 25%;
}

.copyconfirm {
    overflow: hidden;
    font-size: small;
    opacity: 0%;
    width: 50%;
    border-radius: 20px;
    background-color: #1e1e1e;
    padding: 50px 100px;
    position: fixed;
    top: 50%;
    left: 1000%;
    transform: translate(-50%, -50%)
}

.contactwrapper>button:active .copyconfirm {
    animation: copy 2s;
}

@keyframes copy {
    0% {
        left: 50%;
        opacity: 0%;
    }

    25% {
        left: 50%;
        opacity: 100%;
    }

    50% {
        left: 50%;
        opacity: 100%;
    }

    100% {
        left: 50%;
        opacity: 0%;
    }
}